xml version=1.0 encoding=utf-8
!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  httpsgo.microsoft.comfwlinkLinkId=169433
--
configuration  
  system.webServer
    httpProtocol
      !-- 允许跨域配置 --
      customHeaders
        add name=Access-Control-Allow-Origin value= 
        add name=Access-Control-Allow-Headers value=X-Requested-With,Content-Type,Authorization 
        add name=Access-Control-Allow-Methods value=GET, POST, PUT, DELETE,OPTIONS 
        add name=Access-Control-Allow-Credentials value=true 
      customHeaders
    httpProtocol
        staticContent
            remove fileExtension=.mem   
            remove fileExtension=.data   
            remove fileExtension=.unity3d   
            remove fileExtension=.jsbr   
            remove fileExtension=.membr   
            remove fileExtension=.databr   
            remove fileExtension=.unity3dbr   
            remove fileExtension=.jsgz   
            remove fileExtension=.memgz   
            remove fileExtension=.datagz   
            remove fileExtension=.unity3dgz   
            remove fileExtension=.json   
            remove fileExtension=.unityweb   
           
            mimeMap fileExtension=.mem mimeType=applicationoctet-stream   
            mimeMap fileExtension=.data mimeType=applicationoctet-stream   
            mimeMap fileExtension=.unity3d mimeType=applicationoctet-stream   
            mimeMap fileExtension=.jsbr mimeType=applicationoctet-stream   
            mimeMap fileExtension=.membr mimeType=applicationoctet-stream   
            mimeMap fileExtension=.databr mimeType=applicationoctet-stream   
            mimeMap fileExtension=.unity3dbr mimeType=applicationoctet-stream   
            mimeMap fileExtension=.jsgz mimeType=applicationx-javascript; charset=UTF-8   
            mimeMap fileExtension=.memgz mimeType=applicationoctet-stream   
            mimeMap fileExtension=.datagz mimeType=applicationoctet-stream   
            mimeMap fileExtension=.unity3dgz mimeType=applicationoctet-stream   
            mimeMap fileExtension=.json mimeType=applicationjson; charset=UTF-8   
            mimeMap fileExtension=.unityweb mimeType=applicationoctet-stream   
        staticContent
  system.webServer
configuration